@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', serif;
}
a {
  color: black;
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  background: transparent;
  color: #ffff;
  font-family: 'Inter', serif;
}
.container-lg {
  width: 1024px;
  margin: 0 auto;
}
input,
select {
  border: none;
  outline: none;
  background: transparent;
}
.hero-link {
  color: #fff;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
